@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #554686;
    background: #fff;
}

a, a:link, a:visited {
    text-decoration: none;
    color: #000;
    transition-duration: 0.5s;  
}

a:hover, a:active {
    color: #aa7ba1;
}

#container {
    width: 40%;
    min-width: 500px;
    margin: auto;
    padding-top: 85px;
    text-align: justify;
    background-image: url(resources/logo.png);
    background-repeat: no-repeat;
    background-position: top left;
}

header, main, footer {
    width: 100%;
    box-sizing: border-box;
}

header {
    display: none;
}

main {
    text-align: justify;
}

h2 {
    text-align: right;
    padding-right: 1em;
    padding-bottom: 1em;
    font-style: italic;
    font-size: 18px;
}

section {
    padding-bottom: 1em;
}

p {
    padding: .4em .6em;
    text-indent: .5em;
}

footer {
    font-family: 'Consolas', monospace;
    font-size: 8px;
    text-align: center;
    font-style: italic;
    color: #c1b3d4;
    padding-top: 2em;
    text-align: center;
}
    footer p {
        text-indent: 0;
    }

#pjs {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-align: start;
        align-items: flex-start;    
}
    #pjs .pj {
        width: 25%;
        max-width: 100px;
        margin: 1em;
        font-size: .55em;
        text-align: center;
        transition: all .5s ease-in-out;
    }

    #pjs .pj:hover {
        transform: scale(1.2);
    }

    #pjs .pj img {
        width: 100%;
    }

    #pjs .pj p {
        padding: 0;
        background-color: #e6eefe;
    }


@media only screen and (max-device-width: 600px), (max-width: 600px) {
    html, body {
        font-size: 18px;
    }

    #container {
        width: 90%;
        min-width: initial;
    }

    #pjs .pj {
        width: 33%;
        max-width: none;
        font-size: 14px;
        box-sizing: border-box;
    }

    footer {
        font-size: 12px;
    }

    h2 {        
        font-size: 20px;
    }


}