@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);

* {
   margin: 0;
   padding: 0;
}

html,
body {
   font-family: 'Open Sans', sans-serif;
   font-size: 16px;
   color: #554686;
   background: #fff;
   line-height: 1em;
}

html {   
   background-image: url(resources/theme2-bg.png);
   background-repeat: repeat;
   background-position: top center;
}

a,
a:link,
a:visited {
   color: #554686;
   text-decoration: none;
   transition-duration: 0.5s;
}

a:hover,
a:active {
   color: #aa7ba1;
}

main {
   width: 40%;
   min-width: 500px;
   margin: auto;
   padding-top: 146px;
   text-align: justify;
   background-image: url(resources/theme2-logo.png);
   background-repeat: no-repeat;
   background-position: 0 10px;
}

header {
   display: none;
   width: 100%;
}

section {
   padding-bottom: 1em;
}

h2 {
   text-align: right;
   padding-right: 1em;
   margin: 1em 0;
   font-size: 1.2em;
   line-height: 1.2em;
   font-weight: 300;
   background-color: rgba(255, 161, 169, .2);
   background-image: url(resources/theme2-cuore.png);
   background-repeat: no-repeat;
   background-position: right 50%;
}

p {
   line-height: 1.2em;
   margin-bottom: .5em;
}

code {
   display: block;
   white-space: pre-wrap;
   word-break: break-all;
   font-family: 'Consolas', monospace;
   font-size: .8em;
   font-weight: normal;
   padding-left: 1em;
   margin: .5em 1em;
   color: #c1b3d4;
   border-left: 2px solid rgba(255, 161, 169, .3);
}

#tags {
   font-size: .9em;
   margin-bottom: 1em;
   color: #ffa1a9;
}

.tag {
   display: inline-block;
   cursor: pointer;
   font-style: italic;
   padding: 0 .2em 0 .1em;
   margin: .1em;
   transition-duration: 0.5s;
}

.tag:first-of-type {
   font-style: normal;
   color: #c1b3d4;
}

.tag:nth-of-type(n+2)::before {
   content: '#';
   opacity: .6;
   font-style: normal;
}

.tag:hover {
   color: #fff;
   background: #ffa1a9;
}

.tag.selected {
   color: #fff;
   background: #aa7ba1;
}

#pjs {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   align-content: center;
   align-items: flex-start;
}

.pj {
   display: block;
   width: 100px;
   height: 100px;
   margin: .5em;
   text-align: center;
   border: 2px solid transparent;
   transition: all .4s ease-in-out;
}

.pj p {
   font-family: 'Consolas', monospace;
   background-color: rgba(255, 255, 255, .7);
   font-size: .75em;
   padding: .2em 0;
   margin: .2em auto 0;
   width: 80%;
}

.pj:hover {
   border-color: #ffa1a9;
   transform: scale(1.1);
}

.pj.hidden {
   display: none;
}

@media (max-device-width: 600px), (hover: none) {
   main {
      width: 90%;
      min-width: initial;
   }

   html, body, #tags {
      font-size: 1.5em;
   }
   code {
      font-size: .35em;
      line-height: 1em;
   }
   .pj {
      font-size: 1em;
      width: 8em;
      height: 8em;
      margin: .5em;
   }
}
